<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cs2340.spacetraders">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".views.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ConfigurationActivity">
        </activity>
        <activity android:name=".views.MarketScreenActivity">
        </activity>
        <activity android:name=".views.EncounterScreenActivity">
        </activity>
        <activity android:name=".views.GameActivity">
        </activity>
        <activity android:name=".views.MenuScreen">
        </activity>
        <activity android:name=".views.ShipMarketActivity">
        </activity>
        <activity android:name=".views.TargetSystemActivity">
        </activity>
        <activity android:name=".views.ShipyardActivity">
        </activity>
        <activity android:name=".views.ShipRepairActivity">
        </activity>
        <activity android:name=".views.HireCrewActivity">
        </activity>
        <activity android:name=".views.GalaxyMapActivity">
        </activity>
    </application>

</manifest>